# Statistics Assignment-5 (Hypothesis Tests)

Solve at least 3 exercises.

### EXERCISE 1. 

The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [13]:
import numpy as np
import pandas as pd
from scipy import stats

In [1]:
#H0: mu(general) <= mu(company)
#H1: mu(general) > mu(company)

In [107]:
# Calculate the test statistic
t_test = (12.20 - 13.20) / (2.50/np.sqrt(40))
t_test

-2.5298221281347035

In [26]:
# Calculate p-value
p_value = stats.t.cdf(t_test, df = 39)
p_value

0.0077816812266594355

In [16]:
# since p_value is smaller than α = .01, we can conclude that the company pay less than market average.

### EXERCISE 2.

Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [95]:
df = pd.read_csv('soil - Sheet1.csv')
df.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Soil1   30 non-null     float64
 1   Soil2   35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [97]:
df.isnull().value_counts()

Soil1  Soil2
False  False    30
True   False     5
dtype: int64

In [99]:
#Perform Levene test for equal variances
#H0: The population variances are equal
#H1: There is a difference between the variances in the population
#The small p-value suggests that the populations do not have equal variances.
leveneTest = stats.levene(df2.Soil1, df2.Soil2)
leveneTest

LeveneResult(statistic=0.2323198108973329, pvalue=0.631622932753579)

In [ ]:
#Since the Levene test gave a high pvalue, we cannot reject H0.

In [106]:
stats.ttest_ind(df[df.Soil1.notnull()].Soil1, df.Soil2, equal_var = True)

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [ ]:
# As the results are significant, we can conclude that the soils have different average sheer strengths.

### EXERCISE 3. 

The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [66]:
df = pd.read_csv('2015 PISA Test - Sheet1.csv')
df.sample(5)

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
49,MYS,AS,71.064068,446.1098,430.5782,442.9475
60,SVK,EU,77.634700,475.2301,452.5143,460.7749
56,QAT,AS,92.884826,402.4007,401.8874,417.6112
45,MEX,NaN,57.431043,408.0235,423.2765,415.7099
44,MDA,EU,63.306625,419.6635,416.2293,427.9978

In [68]:
df.groupby('Continent_Code').describe()

               internet_users_per_100                                   \
                                count       mean        std        min
Continent_Code
AF                                2.0  43.359918   7.297226  38.200000
AS                               17.0  68.455613  21.086060  21.976068
EU                               37.0  77.274888  12.425773  53.744979
OC                                2.0  86.391704   2.589686  84.560519
SA                                7.0  60.180494   9.772455  40.900000

                                                            Math              \
                      25%        50%        75%        max count        mean
Continent_Code
AF              40.779959  43.359918  45.939877  48.519836   2.0  363.212100
AS              50.300000  74.000000  84.948353  92.884826  17.0  466.216647
EU              68.632900  76.184000  87.479056  98.200000  37.0  477.981449
OC              85.476112  86.391704  87.307296  88.222889   2.0  494.559750
SA              57.116462  64.289000  66.321532  69.198471   7.0  402.887700

                ...     Reading           Science                         \
                ...         75%       max   count        mean        std
Continent_Code  ...
AF              ...  358.256450  361.0555     2.0  381.074250   7.536556
AS              ...  508.690500  535.1002    17.0  467.945847  56.671371
EU              ...  499.814600  526.4247    37.0  478.299381  34.450616
OC              ...  507.678175  509.2707     2.0  511.648700   2.340241
SA              ...  431.922700  458.5709     7.0  421.747186  18.470319


                     min         25%        50%         75%       max
Continent_Code
AF              375.7451  378.409675  381.07425  383.738825  386.4034
AS              386.4854  417.611200  456.48360  523.277400  555.5747
EU              383.6824  460.774900  490.22500  501.936900  534.1937
OC              509.9939  510.821300  511.64870  512.476100  513.3035
SA              396.6836  408.205450  424.59050  433.794600  446.9561

[5 rows x 32 columns]

In [72]:
df.Math.isnull().value_counts()

False    70
Name: Math, dtype: int64

In [77]:
euMath = df[df['Continent_Code'] == 'EU'].Math

In [78]:
asMath = df[df['Continent_Code'] == 'AS'].Math

In [80]:
stats.ttest_ind(euMath, asMath, equal_var = True)

Ttest_indResult(statistic=0.870055317967983, pvalue=0.38826888111307345)

### EXERCISE 4.
The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.

Sample Dataset 2014

CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128

In [81]:
df = pd.read_csv('students_2014 - students_2014.csv')
df.sample(5)

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
218,20402,12/31/1993,5-Aug-2013,14-May-2018,2.0,biz admin,0.0,0,62.46,202.77,...,74.15,80.96,69.39,75.77,In state,0.0,3.0,30.0,9.0,7.0
415,48958,1/17/1990,1-Aug-2011,09-May-2016,4.0,Fein Arts,1.0,1,66.14,158.98,...,85.75,77.39,44.70,80.65,In state,0.0,3.0,31.0,8.0,7.0
68,42769,4/1/1995,4-Aug-2014,13-May-2019,1.0,Psych,1.0,0,60.15,141.98,...,75.07,72.17,49.40,75.89,In state,1.0,NaN,NaN,8.0,2.0
302,42474,4/6/1993,6-Aug-2012,14-May-2018,3.0,epidemeology,1.0,0,67.65,215.38,...,81.29,84.10,NaN,74.30,Out of state,0.0,1.0,14.0,2.0,6.0
378,32404,8/8/1991,1-Aug-2011,08-May-2017,4.0,Hahahaha,0.0,0,66.09,145.31,...,84.45,89.39,75.19,NaN,In state,0.0,1.0,21.0,7.0,NaN

In [82]:
df.English.mean()

82.78755501222493

In [83]:
df.Math.mean()

65.46800947867297

In [86]:
df.loc[:, ['English', 'Math']].isnull().value_counts()

English  Math
False    False    398
True     False     24
False    True      11
True     True       2
dtype: int64

In [88]:
df2 = df.loc[:, ['English', 'Math']].dropna(how = 'any')

In [89]:
df2.isnull().value_counts()

English  Math
False    False    398
dtype: int64

In [90]:
df2.head()

   English   Math
0    88.24  60.02
1    89.45  70.19
2    96.73  71.20
3    74.06  55.89
4    82.61  65.52

In [91]:
stats.shapiro(df2.English)

ShapiroResult(statistic=0.9966233968734741, pvalue=0.5731582045555115)

In [92]:
stats.shapiro(df2.Math)

ShapiroResult(statistic=0.9944291710853577, pvalue=0.15705689787864685)

In [93]:
#Since both pvalues are high, we cannot reject the null hypothesis, which says the distribution is normal

In [94]:
stats.ttest_rel(df2.English, df2.Math)

Ttest_relResult(statistic=36.312568981719856, pvalue=3.0710987192210606e-128)

In [ ]:
#The results are significant. Pvalue is not small. We cannot reject the H0. SO, there is a signfiicant difference between English and Math scores.